.topbar{
   width: 100%;
   height: 50px;
   background-color:white;
   position: sticky;
   top:0;
   z-index: 999;
}

.topbar__wrapper{
    display: flex;
    height: 100%;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;

}


.topbar__left--logo{
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
}

.topbar__right{
    display: flex;
    align-items: center;
}

.topbar__icon-container{
  position: relative;
  margin-right: 10px;
  cursor: pointer;
  color:#0f0e0e94;
}

.topbar__icon-badge{
width: 15px ; 
height: 15px;  
position: absolute;
top:-5px;
right:1px;
background-color: red;
color: antiquewhite;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
font-size: 11px;
}